body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:789px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:789px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541 {
  position:absolute;
  left:549px;
  top:144px;
  visibility:hidden;
}
#u541_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:644px;
  height:501px;
  background-image:none;
}
#u541_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:501px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:501px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:8px;
  width:30px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u544 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:458px;
  width:58px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u545 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:126px;
  width:78px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
